$primary-color: #272727;
$secondary-color: #ff652f;
$font-families: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$font-sizes: (
	large: 1.5rem,
	larger: 1.75rem,
	medium: 1.25rem,
	small: 1rem,
	smaller: 0.875rem,
	x-large: 2rem,
	x-small: 0.75rem,
	xx-large: 3rem,
	xx-small: 0.5rem,
	xxx-large: 5rem,
	xxx-small: 0.25rem,
);

$font-weights: (
	thin: 100,
	light: 300,
	regular: 400,
	medium: 500,
	bold: 700,
	black: 900,
);
